<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>BILL</title>
	<style>
	.button {
  		border: none;
  		color: white;
  		padding: 16px 32px;
 		text-align: center;
  		text-decoration: none;
  		display: inline-block;
  		font-size: 20px;
  		font-weight: bold;
  		margin: 4px 2px;
  		transition-duration: 0.4s;
  		cursor: pointer;
		}

	.button1 {
  		background-color: white;
  		color: black;
  		border: 2px solid #4CAF50;
		}

	.button1:hover {
  		background-color: #4CAF50;
  		color: white;
		}
	body{
		text-align: center;
	}

	</style>	
</head>
<body >
	<h1>Order details </h1>
	<h2> Order Id :<%= userbill._id %></h2>
	<h2> Name :<%= userbill.name %></h2>
	<h2> Email :<%= userbill.email %></h2>
	<h2> Address : <%= userbill.address %></h2>
	<h2> City :<%= userbill.city %></h2>
	<h2> State : <%= userbill.state %></h2>
	<h2> Zip Code <%= userbill.zip%></h2>
	<h2> Card Name <%= userbill.cname %></h2>
	<h2> Card Number <%= userbill.cardnum %></h2><br>
	
	<form action="/home"><button class="button button1" >Home Page</button> </form>
	


	<p># A download like will be send to the registered Email. You can download the game from there. <br>
		# If you want to cancle the order then , you can click on 'Cancle Order', You need to enter your Order Id to cancle your order, money deducted from your account will be sent within  7 to 8 working days . <br><br> </p>
		<h2>!! Thank you for shopping with us !!</h2>
	<form action="/del"><button class="button button1">Cancle Order</button></form>

</body>
</html>